.gambarbg {
  background-image: url(./asets/bgbg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-weight: bold;
  color: cornsilk;
  padding-top: 20px;
  font-size: 60px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.boxlogin {
  width: 300px;
  height: 250px;
  background-color: darkgrey;
  margin-top: 130px;
  opacity: 0.7;
  margin-left: 38%;
  border-radius: 20px;
}
.logintitle {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: cornsilk;
}
.logininput {
  margin-top: 10px;
  margin-left: 55px;
}
.loginbtn {
  align-items: center;
  margin-left: 55px;
  margin-right: 53px;
  margin-top: 20px;
  margin-bottom: 20px;
}
